/*css unique to the index page*/
/* body{text-align: center;} */
a {
  text-decoration: none;
}
.main_header {
  display: flex;
  background: #02b3e4;
  padding: 1.5rem 0;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  color: white;
  justify-content: space-between;
}
.main_header nav li {
  display: inline;
}
.main_nav_menu ul li a {
  letter-spacing: 0;
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10px;
  line-height: 1.9375rem;
  border: 1px solid white;
  border-radius: 4px;
  padding: 14px 20px;
}
.logo{
  flex: 2;
}
.nav_wrapper{
  text-align: end;
  flex: 1;
  margin-right: 10px;
}
.toggle{
  width: 100%;
  padding: 10px 20px;
  font-size: 40px;
}

@media (max-width: 665px){
  .main_header{
    display: flex;
    flex-direction: column;
  }
  .logo{
    flex: 1;
  }
  .main_nav_menu ul{
    width: 100%;
  }
  .nav_wrapper{
    align-self: flex-end;
    flex: 1;
    text-align: center;
  }
  .main_nav_menu ul li{
    display: block;
    margin-top: 20px;
  }
}
