/*css unique to the index page*/
/* body{text-align: center;} */
a {
  text-decoration: none;
}
/* h1{color: white;} */
.main_header {
  display: flex;
  background: #02b3e4;
  padding: 1.5rem 0;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  position: relative;
  color: white;
}
.main_header nav li {
  display: inline;
}
.main_nav_menu ul li a {
  letter-spacing: 0;
  font-size: 0.875rem;
  text-transform: capitalize;
  height: 2.25rem;
  font-weight: 400;
  margin-left: 2.5rem;
  line-height: 1.9375rem;
  border: 1px solid white;
  border-radius: 4px;
  padding: 14px 20px;
}
.main_header nav {
  position: absolute;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
